@tailwind base;
@tailwind components;
@tailwind utilities;

/*Skriv inget här. Endast för tailwindÄ*/

body{
    background: #293540;
}

.rangeSlider#slider {
    background-color: rgba(0, 0, 0, 0.33);
    background-image: linear-gradient(to right, #00FFA6, #F1E576, #FC5486);
    /* width: 10rem; */
}

.rangeSlider#slider > .rangeHandle > .rangeNub {
    background: white;
}

.rangeSlider#slider > .rangeHandle.active > .rangeNub {
    background: white;

}
.rangeSlider#slider > .rangeHandle > .rangeFloat {
    background-color: #3D4852;
    width: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
}