

//Allt här importeras. Men använd sparsamt, håll till tailwind. Detta är mest för att använda typ avancerade mixins


$swipeUpBezier:cubic-bezier(.26,.27,.32,.97);

@keyframes swipeUp{
    from{
        top:100vh;
    }
    to{
        top: 1.5rem;
    }
}
@keyframes swipeDown{
    from{
        top:1.5rem;
    }
    to{
        top: 100vh;
    }
}