

//Allt här importeras. Men använd sparsamt, håll till tailwind. Detta är mest för att använda typ avancerade mixins
//Colors
$green-100: #3BC393;
$appDark-200: #293540;

$swipeUpBezier:cubic-bezier(.26,.27,.32,.97);

@keyframes swipeUp{
    from{
        top:100vh;
    }
    to{
        top: 1.5rem;
    }
}

* {
    letter-spacing: 1.7px;
}