@import './graphs';

//Allt här importeras. Men använd sparsamt, håll till tailwind. Detta är mest för att använda typ avancerade mixins
//Colors
$green-100: #3BC393;
$appDark-200: #293540;

$swipeUpBezier:cubic-bezier(.26,.27,.32,.97);

@keyframes swipeUp{
    from{
    
        transform: translateY(100vh);
    }
    to{
        transform: translateY(0);
    }
}

* {
    letter-spacing: 1.7px;
}
  
@keyframes swipeDown{
    from{
        top:1.5rem;
    }
    to{
        top: 100vh;
    }

}